@charset "utf-8";
/* CSS Document */

body{
	background-image:url(images/slider-bg.jpg);
	background-color:#006;
	height:600px;
	width:1255px;
	background-size:100vw 60vw;
	background-blend-mode:multiply;
}

#header{
}

.link{
}

.style{
	background-image:url(images/job_logo2.png);
	margin-top:-60px;
	height:200px;
	width:200px;
}

#style1{
	color:#FFF;
	font-family:"Comic Sans MS", cursive;
	background-position:center;
	font:"Arial Black", Gadget, sans-serif;
}

#style2{
	width:300px;
	height:100px;
	margin-left:50px;
}

#style3{
	margin-left:400px;
	margin-top:-55px;
}

#style4{
	margin-left:700px;
	margin-top:-55px;
}

.style5{
	background-color:#090;
	padding:10px 20px;
	border:none;
	border-radius:5px;
	cursor:pointer;
	margin-top:-55px;
	margin-left:1000px;
	color:#FFF;
}

.style5:hover{
	color:#0C0;
	background-color:inherit;
	border:solid;
}

#style6{
}

#style7{
}

#style8{
}

.slide9{
	background-color:#090;
	height:200px;
	width:1275px;
	margin-left:-70px;
}

.slide10{
	background-image:url(images/c1.png);
	background-size:7vw 7vw;
	margin-top:-170px;
	height:90px;
	width:90px;
}

.slide11{
	background-image:url(images/c2.png);
	background-size:7vw 7vw;
	margin-top:-90px;
	margin-left:200px;
	height:90px;
	width:90px;
}

.slide12{
	background-image:url(images/c3.png);
	background-size:7vw 7vw;
	margin-top:-90.5px;
	margin-left:400px;
	height:90px;
	width:90px;
}

.slide13{
	background-image:url(images/c4.png);
	background-size:7vw 7vw;
	margin-top:-90px;
	margin-left:600px;
	height:90px;
	width:90px;
}

.slide14{
	background-image:url(images/c5.png);
	background-size:7vw 7vw;
	margin-top:-90px;
	margin-left:800px;
	height:90px;
	width:90px;
}

.slide15{
	background-image:url(images/c6.png);
	background-size:7vw 7vw;
	margin-top:-90px;
	margin-left:1000px;
	height:90px;
	width:90px;
}

.slide16{
	color:#000;
	margin-top:20px;
}

.slide17{
	color:#000;
	margin-left:200px;
	margin-top:-30px;
}

.slide18{
	color:#000;
	margin-left:400.9px;
	margin-top:-30px;
}

.slide19{
	color:#000;
	margin-left:600px;
	margin-top:-30px;
}

.slide20{
	color:#000;
	margin-left:800px;
	margin-top:-30px;
}

.slide21{
	color:#000;
	margin-left:1000px;
	margin-top:-30px;
}

.slide22{
	background-color:#CCC;
	margin-left:-100px;
	margin-top:30px;
	height:550px;
	width:1305px;
}

.slide23{
	color:#FFF;
}
	
	
	
	